{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>ERPify Business</title>
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
   <link rel="stylesheet" href="{% static 'style.css' %}">
   <link rel="shortcut icon" href="{% static 'favicon.ico' %}">
   <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
   <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
   <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
   <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">ERPify Business</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <!--aqui se ponen todas las opciones de la pagina web accesibles despues de iniciar sesion o crear cuenta-->
            <li class="nav-tiem">
               <a href="/" class="nav-link">Home</a> <!-- Opcion del menu para redirigirnos al home de la web -->
            </li>
            {% if user.is_authenticated %}
            <li class="nav-tiem">
               <a href="{% url 'tasks' %}" class="nav-link">Tasks Pending</a> <!-- Opcion del menu para redirigirnos al task de la web -->
            </li>
            <li class="nav-tiem">
               <a href="{% url 'tasks_completed' %}" class="nav-link">Tasks completed</a> <!-- Opcion del menu para redirigirnos al task completed de la web -->
            </li>
   
            <li class="nav-tiem">
               <a href="/tasks/create/" class="nav-link">Create task</a> <!-- Opcion del menu para redirigirnos al task de la web -->
            </li>
   
            <li class="nav-tiem">
               <a href="/logout" class="nav-link">Logout</a> <!-- opcion para dirigirnos al seccion de cerrar sesion -->
            </li>

          <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               Modules
             </a>
             <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
               <li><a class="dropdown-item" href="/finance">Finance</a></li>
               <li><a class="dropdown-item" href="/events">Events</a></li>
               <li><a class="dropdown-item" href="/production">Production</a></li>
               <li><a class="dropdown-item" href="/sales">Sales</a></li>
               <li><a class="dropdown-item" href="/HR">HR</a></li>
               <li><a class="dropdown-item" href="/purchasing">Purchasing</a></li>
               <li><a class="dropdown-item" href="/maintenance">Maintenance</a></li>
               <li><a class="dropdown-item" href="/CRM">CRM</a></li>
               <li><a class="dropdown-item" href="/stock">Stock</a></li>
               <li><a class="dropdown-item" href="/quality">Quality</a></li>
               <li><a class="dropdown-item" href="/payroll">payroll</a></li>
               <li><a class="dropdown-item" href="/Projects">Projects</a></li>
               <li><a class="dropdown-item" href="/marketing">Marketing</a></li>
             </ul>
            </li>
            
            <!--aqui se ponen todas las opciones de la pagina web accesibles antes de iniciar sesion o crear cuenta-->
            {% else %}
            <li class="nav-tiem">
               <a href="/signup" class="nav-link">Signup</a> <!-- opcion para dirigirnos al seccion de crear cuenta -->
            </li>
   
            <li class="nav-tiem">
               <a href="/signin" class="nav-link">Signin</a> <!-- opcion para dirigirnos al seccion de iniciar sesion -->
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
{% block content %}
{% endblock %}

</body>
</html>