{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-center mb-4">Customer Relationship Management</h1>

    <form action="/CRM/" method="POST" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="id" name="id" placeholder="ID" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Names" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="apellido1" name="apellido1" placeholder="last Name" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="apellido2" name="apellido2" placeholder="Second Surname">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="text" class="form-control" id="numero" name="numero" placeholder="Phone">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="email" class="form-control" id="correo" name="correo" placeholder="E-mail" required>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="number" class="form-control" id="ventas_realizadas" name="ventas_realizadas" placeholder="Purchases Made">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-2">Important Client:</div>
            <div class="col-sm-10">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="cliente_importante" name="cliente_importante">
                </div>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-sm-10 offset-sm-2">
                <input type="submit" class="btn btn-primary" value="Save">
            </div>
        </div>
    </form>

    <h2 class="text-center mb-4">Client list</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Names</th>
                <th>last Name</th>
                <th>Second Surname</th>
                <th>Phone</th>
                <th>E-mail</th>
                <th>Purchases Made</th>
                <th>Important Client:</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cliente in clientes %}
                <tr>
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.nombre }}</td>
                    <td>{{ cliente.apellido1 }}</td>
                    <td>{{ cliente.apellido2 }}</td>
                    <td>{{ cliente.numero }}</td>
                    <td>{{ cliente.correo }}</td>
                    <td>{{ cliente.ventas_realizadas }}</td>
                    <td>{{ cliente.cliente_importante|yesno }}</td>
                    <td>
                        </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}