{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ message.tags }}">  {# Mostrar mensajes flash #}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="text-dark">{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <h2>Event Management</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'events' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Name of the event" maxlength="50" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Description of the event" rows="4"></textarea>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <h6>Room:</h6>
                        {{ form.sala }}  
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="date" id="fecha" name="fecha" class="form-control" placeholder="Event Date" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Event List</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Room</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for evento in eventos %} 
                        <tr>
                            <td>{{ evento.id }}</td>
                            <td>{{ evento.nombre }}</td>
                            <td>{{ evento.descripcion }}</td>
                            <td>{{ evento.sala }}</td>
                            <td>{{ evento.fecha|date:"m/d/Y" }}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}