{% extends 'base.html' %}

{% block content %}
<h1>Monthly Sales Summary</h1>
<div>
    <canvas id="financeChart"></canvas>
</div>

<script>
    const ctx = document.getElementById('financeChart').getContext('2d');
    // Datos recibidos desde Django (convertidos a formato JSON)
    const labels = JSON.parse('{{ labels|safe }}');
    const data = JSON.parse('{{ data|safe }}'); 
    const financeData = {
        labels: labels,
        datasets: [{
            label: 'Income',
            data: data,
            backgroundColor: 'rgba(0, 0, 128, 0.7)',  // Azul marino opaco
            borderColor: 'rgba(0, 0, 128, 1)',        // Azul marino sólido
            borderWidth: 1
        }]        
    };
    const financeChart = new Chart(ctx, {
        type: 'bar',
        data: financeData,
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{% endblock %}