{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>Home</title>
</head>

<body>
    <section class="home-container">
        <div class="home-content">
            <h2 class="home-header">ERPify Business</h2>
            <p class="home-description">Your one-stop shop for business efficiency.</p>
            <div class="ad-copy"> 
                <h3 class="ad-header">Tired of juggling multiple tools and spreadsheets?</h3>
                <p class="ad-text">ERPify Business is your all-in-one solution. Centralize your data, automate tasks, and gain valuable insights. Empower your team and take your business to the next level.</p>
            </div>
            <div class="ad-copy">
              <p>
                Unleash the full potential of your small business. ERPify Business gives you the tools to manage every aspect of your operations with ease. Sign up today and experience the difference!"
              </p>
            </div>
        </div>
        <div class="home-images">
            <figure class="pic-5">
                <img src="static/pic-5.png" alt="pic-1">
            </figure>
        </div>
    </section>
</body>
</html>
{% endblock %}