{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ message.tags }}"> 
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="text-dark">{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}

        <h2>Human Resources Management</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'HR' %}" method="POST"> 
                    {% csrf_token %}

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="text" id="Nombres" name="Nombres" class="form-control" placeholder="Names" maxlength="250" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="text" id="Apellido1" name="Apellido1" class="form-control" placeholder="Last name" maxlength="250" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="text" id="Apellido2" name="Apellido2" class="form-control" placeholder="Second Last name" maxlength="250" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="text" id="RFC" name="RFC" class="form-control" placeholder="FTR" maxlength="250" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="text" id="Puesto" name="Puesto" class="form-control" placeholder="Job Title" maxlength="250" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="date" id="fechaIngreso" name="fechaIngreso" class="form-control" placeholder="Date of Admission" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Human Resources List</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Names</th>
                        <th>Last name</th>
                        <th>Second Last name</th>
                        <th>FTR</th>
                        <th>Job Title</th>
                        <th>Date of Admission</th>
                    </tr>
                </thead>
                <tbody>
                    {% for humano in humanos %} 
                        <tr>
                            <td>{{ humano.NumeroEmpleado }}</td>
                            <td>{{ humano.Nombres }}</td>
                            <td>{{ humano.Apellido1 }}</td>
                            <td>{{ humano.Apellido2 }}</td>
                            <td>{{ humano.RFC }}</td>
                            <td>{{ humano.Puesto }}</td>
                            <td>{{ humano.fechaIngreso }}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}