{% extends 'base.html' %}
{% block content %}

<div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-dismissible alert-success">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <strong class="text-dark">{{ message }}</strong>
        </div>
      {% endfor %}
    {% endif %}
    <h2>Maintenance Management</h2>
    <div class="card">
      <div class="card-body">
        <form action="/maintenance/" method="POST">
          {% csrf_token %}
          <div class="form-group" style="margin-bottom: 15px;">
            <input type="text" id="equipo" name="equipo" class="form-control" placeholder="Equipment" maxlength="50" required>
          </div>

          <div class="form-group" style="margin-bottom: 15px;">
            <input type="text" id="linea" name="linea" class="form-control" placeholder="Line" maxlength="50" required>
          </div>

          <div class="form-group" style="margin-bottom: 15px;">
            <input type="text" id="tecnico" name="tecnico" class="form-control" placeholder="Technician" maxlength="50" required>
          </div>

          <div class="form-group" style="margin-bottom: 15px;">
            <input type="text" id="numero_empleado" name="numero_empleado" class="form-control" placeholder="Employee Number" maxlength="50" required>
          </div>

          <div class="form-group" style="margin-bottom: 15px;">
            <label for="Fecha">Date</label>
            <input type="date" id="fecha" name="fecha" class="form-control">
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block text-white">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
    <h1>Maintenance List</h1>
    <div class="table-responsive py-2">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Equipment</th>
            <th>Line</th>
            <th>Technician</th>
            <th>Employee Number</th>
            <th>Maintenance Date</th>
          </tr>
        </thead>
        <tbody>
          {% for mantenimiento in mantenimientos %}
          <tr>
            <td>{{ mantenimiento.id }}</td>
            <td>{{ mantenimiento.quipo }}</td>
            <td>{{ mantenimiento.linea }}</td>
            <td>{{ mantenimiento.tecnico }}</td>
            <td>{{ mantenimiento.numero_empleado }}</td>
            <td>{{ mantenimiento.fecha }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}