{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="text-dark">{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <h3>Marketing Campaign Management</h3>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'marketing' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Campaign name" maxlength="100" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Description" rows="4"></textarea>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <h6>Tentative Start Date:</h6>
                        <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control" placeholder="Tentative Start Date" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="number" id="presupuesto" name="presupuesto" class="form-control" placeholder="Budget" min="0" step="0.01" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <h6>Media:</h6>
                        {{ form.medio }}
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>marketing campaigns List</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Campaign name</th>
                        <th>Description</th>
                        <th>Tentative Start Date</th>
                        <th>Budget</th>
                        <th>Media</th>
                    </tr>
                </thead>
                <tbody>
                    {% for campania in Campania %}
                        <tr>
                            <td>{{ campania.nombre }}</td>
                            <td>{{ campania.descripcion }}</td>
                            <td>{{ campania.fecha_inicio|date:"d/m/Y" }}</td>
                            <td>{{ campania.presupuesto }}</td>
                            <td>{{ campania.medio }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}