{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="text-dark">{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <h3>Payroll Management</h3>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'payroll' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group" style="margin-bottom: 15px;">
                        <h6>Select Employee</h6>
                        {{ form.empleado }}
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="number" id="salario_diario" name="salario_diario" class="form-control" placeholder="Daily Salary" min="0" step="0.01" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <h6>Start Date:</h6>
                        <input type="date" id="fecha_inicio" name="fecha_inicio" class="form-control" placeholder="Start date" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Payroll List</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Employee</th>
                        <th>Daily salary</th>
                        <th>Start Date</th>
                    </tr>
                </thead>
                <tbody>
                    {% for nomina in nominas %}
                        <tr>
                            <td>{{ nomina.empleado }}</td>
                            <td>{{ nomina.salario_diario }}</td>
                            <td>{{ nomina.fecha_inicio|date:"d/m/Y" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}