{% extends 'base.html' %} 
{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ message.tags }}">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="text-dark">{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <h2>Project Management</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'Projects' %}" method="POST"> {% csrf_token %}
                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Project's name" maxlength="50" required>
                    </div>
                    <div class="form-group" style="margin-bottom: 15px;">
                        <textarea id="descripcion" name="descripcion" class="form-control" placeholder="Description" maxlength="250" required></textarea>
                    </div>
                    <div class="form-group" style="margin-bottom: 15px;">
                        <h6>Employee in Charge:</h6>
                        {{ form.empleado }}
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Project List</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Project's name</th>
                        <th>Description</th>
                        <th>Employee in Charge</th>
                    </tr>
                </thead>
                <tbody>
                    {% for proyectos_list in proyectos %}
                        <tr>
                            <td>{{ proyectos_list.nombre }}</td>
                            <td>{{ proyectos_list.descripcion }}</td>
                            <td>{{ proyectos_list.empleado }}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}