{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ message.tags }}">  {# Mostrar mensajes flash #}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="text-dark">{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <h2>Pilot Management</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'quality' %}" method="POST"> {% csrf_token %}

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Pilot's Name" maxlength="250" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="text" id="descripcion" name="descripcion" class="form-control" placeholder="Description" maxlength="250" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <h6>Line:</h6>
                        {{ form.linea }}  
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Pilot List</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>pilot's Name</th>
                        <th>Description</th>
                        <th>Line</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pilotos in pilotos %}  
                        <tr>
                            <td>{{ pilotos.nombre }}</td>
                            <td>{{ pilotos.descripcion }}</td>
                            <td>{{ pilotos.linea }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}