{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ message.tags }}"> 
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="text-dark">{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <h2>Sales Management</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'sales' %}" method="POST"> {% csrf_token %}
                    <div class="form-group" style="margin-bottom: 15px;">
                        <h6>Select client:</h6>
                        {{ form.cliente }} 
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <h6>Select Product:</h6>
                        {{ form.producto }} 
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <h6>Select Sale Date:</h6>
                        <input type="date" id="fecha_venta" name="fecha_venta" class="form-control" placeholder="Fecha" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <h6>Quantity Sold:</h6>
                        {{ form.cantidad_vendida }} 
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Sales List</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Client</th>
                        <th>Product</th>
                        <th>Sale Date</th>
                        <th>Quantity Sold</th>
                    </tr>
                </thead>
                <tbody>
                    {% for venta in ventas %}  
                        <tr>
                            <td>{{ venta.cliente.id }} - {{ venta.cliente.nombre }} {{ venta.cliente.apellido1 }}</td>
                            <td>{{ venta.producto.id }} - {{ venta.producto.nombre }}</td>
                            <td>{{ venta.fecha_venta }}</td>
                            <td>{{ venta.cantidad_vendida }}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}