{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-dismissible alert-{{ message.tags }}">  {# Mostrar mensajes flash #}
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong class="text-dark">{{ message }}</strong>
                </div>
            {% endfor %}
        {% endif %}
        <h2>Stock Management</h2>
        <div class="card">
            <div class="card-body">
                <form action="{% url 'stock' %}" method="POST"> {% csrf_token %}

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="text" id="nombre" name="nombre" class="form-control" placeholder="Product name" maxlength="250" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="text" id="modelo" name="modelo" class="form-control" placeholder="Product Model" maxlength="250" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="number" step="0.01" id="precio" name="precio" class="form-control" placeholder="Price of the product" required>
                    </div>

                    <div class="form-group" style="margin-bottom: 15px;">
                        <input type="number" id="cantidad" name="cantidad" class="form-control" placeholder="Stock" required>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block text-white">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-8 col-xl-8">
        <h1>Stock list</h1>
        <div class="table-responsive py-2">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Model</th>
                        <th>Price</th>
                        <th>Number</th>
                    </tr>
                </thead>
                <tbody>
                    {% for product in products %}  
                        <tr>
                            <td>{{ product.id }}</td>
                            <td>{{ product.nombre }}</td>
                            <td>{{ product.modelo }}</td>
                            <td>{{ product.precio }}</td>
                            <td>{{ product.cantidad }}</td> 
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}