{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4"> 
    <h1>Task Management</h1>

    <div class="row">
        {% for task in tasks %}
        <div class="col-md-4 mb-3">
            <div class="card h-100"> 
                <div class="card-body">
                    <h5 class="card-title">
                        {% if task.important %}
                            <strong class="text-danger">{{ task.title }}</strong> 
                        {% else %}
                            {{ task.title }}
                        {% endif %}
                    </h5>
                    <p class="card-text">{{ task.description }}</p>
                    <p class="card-text">Assigned to: {{ task.user.username }}</p>
                    <p class="card-text">
                        <small class="text-muted">Date: {{ task.datecompleted|date:"d/m/Y H:i" }}</small> 
                    </p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'task_detail' task.id %}" class="btn btn-sm btn-outline-secondary">
                        <i class="bi bi-pencil-square"></i> Edit
                    </a>
                    <form action="{% url 'complete_task' task.id %}" method="POST" class="d-inline"> 
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-success">
                            <i class="bi bi-check2-square"></i> Complete
                        </button>
                    </form>
                    <form action="{% url 'delete_task' task.id %}" method="POST" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-sm btn-outline-danger">
                            <i class="bi bi-trash"></i> Delete
                        </button>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}