{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1>{{ task.title }}</h1>
        </div>
        <div class="card-body">
            {{ error }}
            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.errors %}
                            <div class="invalid-feedback">
                                {{ field.errors }}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
        <div class="card-footer">
            <form action="{% url 'complete_task' task.id %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Complete</button>
            </form>
            <form action="{% url 'delete_task' task.id %}" method="POST" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}