body {
    background-image: url("{% static 'background.png' %}");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
}
  